.brand {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.brand_texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: -5rem;
    gap: 1.2rem;
    position: relative;
    z-index: 5;
}
.brand__title {
    font-family: $font-mono;
    font-size: $xxxx-large;
    font-weight: 700;
    text-align: left;
    margin-top: 2.8rem;
    margin-left: 5rem;
}
.brand__p {
    font-family: $font-roboto;
    font-size: $x-large;
    font-weight: 300;
    text-align: left;
    margin-left: 5rem;
}
.brand__arrow {
    background-color: $buff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12.4rem;
    height: 12.4rem;
    font-family: $font-roboto;
    font-size: $xxx-large;
    font-weight: 800;
    color: $white;
}    
.brand__arrow--moving {
    background-color: $coral;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: 3;
}