.primary-button, .secondary-button {
    width: 10rem;
    height: 2.4rem;
    padding: 10px 20px;
    font-family: $font-mono;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}
.primary-button {
    background-color: $white;
    border: 2px solid $quick-silver;
    color: $quick-silver;
}
.secondary-button {
    background-color: $shimmy-shamrock;
    border: none;
    color: $white;
}
.primary-button:hover {
    background-color: $white;
    border: 2px solid $outer-space;
    color: $outer-space;
}
.secondary-button:hover {
    background-color: $turqoise-green;
    color: $spanish-gray;
}