/*
abstracts/
vendors/
base/
layout/
components/
pages/
themes/
*/
/* Variables | Colors */
/* Variables | Tipografias */
/* Variables | Fonts Sizes */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 7rem;
  align-items: center;
  height: 9.99vh;
}
.nav__subcontainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav__img {
  width: 1.8rem;
}
.nav__ul {
  display: flex;
  gap: 2rem;
}
.nav__buttons {
  display: flex;
  gap: 3rem;
}
.nav__li {
  font-size: 1rem;
}

@media (max-width: 850px) {
  .nav__menu {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 600px) {
  .nav {
    margin: 0 2rem;
  }
  .nav__buttons {
    gap: 0.8rem;
  }
}
.a {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  color: #A2A2A2;
  text-decoration: none;
}

.a:hover {
  color: #454545;
}

.brand {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.brand_texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: -5rem;
  gap: 1.2rem;
  position: relative;
  z-index: 5;
}

.brand__title {
  font-family: "PT Mono", monospace;
  font-size: 4.375rem;
  text-align: left;
  margin-top: 2.8rem;
  margin-left: 5rem;
}

.brand__p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-left: 5rem;
}

.brand__arrow {
  background-color: #F1DD7B;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.5rem;
  height: 7.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
  color: #FFF;
}

.brand__arrow--moving {
  background-color: #FA824C;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}

.button--primary, .button--secondary {
  width: -moz-fit-content;
  width: fit-content;
  height: 2.4rem;
  padding: 10px 20px;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.button--primary {
  background-color: #FFF;
  border: 2px solid #A2A2A2;
  color: #A2A2A2;
}

.button--secondary {
  background-color: #4CA866;
  border: none;
  color: #FFF;
}

.button--primary:hover {
  background-color: #FFF;
  border: 2px solid #454545;
  color: #454545;
}

.button--secondary:hover {
  background-color: #9DCFAB;
  color: #989797;
}

.coffee {
  width: 100%;
  position: relative;
  z-index: 1;
}

.coffee__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}

.coffee__figure {
  width: 5rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: -3rem;
  z-index: 8 !important;
}

.hero {
  position: relative;
  width: 100%;
}
.hero .hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.hero .hero__text-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22rem;
  height: 20%;
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.2rem 4rem;
  z-index: 2;
}
.hero .hero__statistic {
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.hero .hero__subtitle {
  font-family: "PT Mono", monospace;
  font-size: xx-large;
}
.hero .hero__description {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

.map {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.4rem;
  position: relative;
  z-index: 1;
}

.map__description {
  max-width: 18rem;
  margin: 0 0rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 5;
}

.map__title {
  font-family: "PT Mono", monospace;
  font-size: 1.875rem;
  font-weight: 700;
}

.map__paragraph {
  width: 15rem;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #454545;
}

.map__img-container {
  width: 60%;
  z-index: 3;
}

.map__img {
  width: 80%;
  height: 12rem;
  margin: 0 0 0 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 4;
}

.map__figure {
  width: 30rem;
  height: 75%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #3C91E6;
}

body {
  width: 100%;
}

.main {
  height: 89.9vh;
}

.main__first-subcontainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
}

.main__second-subcontainer {
  width: 100%;
  height: 39.7%;
  display: flex;
  flex-direction: row;
}

.hero, .map {
  width: 68%;
}

.brand, .coffee {
  width: 32%;
}

@media (max-width: 1024px) {
  .main__first-subcontainer {
    flex-direction: column;
    gap: 1rem;
  }
  .hero {
    width: 100%;
  }
  .brand {
    width: 100%;
  }
  .main__second-subcontainer {
    flex-direction: column;
    gap: 1rem;
  }
  .map {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .coffee {
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4rem;
  }
  .map__img-container {
    width: 80%;
    height: 100%;
  }
  .map__img {
    width: 100%;
  }
  .map__figure {
    width: 30%;
  }
  .coffee__figure {
    left: 0;
  }
}