.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 7rem;
    align-items: center;
    height: 9.99vh;

    &__subcontainer {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    &__img {
        width: 1.8rem;
    }
    &__ul {
        display: flex;
        gap: 2rem;
    }
    &__buttons {
        display: flex;
        gap: 3rem;
    }
    &__li {
        font-size: $large;
    }
}


@media (max-width: 850px) {
    .nav__menu {
        visibility: hidden;
        display: none;
    }
}
@media (max-width: 600px) {
    .nav {
        margin: 0 2rem;
    
        &__buttons {
            gap: 0.8rem;
        }
        &__li {
            font-size: $medium;
        }
    }
}